* {
  margin: 0;
  padding: 0; 
}

#app {
  height: 100vh;
}

body > .el-container {
  margin-bottom: 40px;
  height: 100%;
}

.el-aside {
   overflow: hidden;
}

.table-title{ 
  span{
    color: #337ab7;
  cursor: pointer;
  }
}

.table-title span:hover{
  color: #20a0ff;
}

.el-button{
  border: none!important;
}